.root {
  margin: auto;
  padding: 0 5%;
}

/***** Container Sizes *****/
.medium {
  max-width: 960px;
}
.small {
  max-width: 840px;
}
.smallest {
  max-width: 580px;
}

/***** Container Alignment *****/
.left {
  margin: 0;
  padding: 0;
}
