.root {
  margin: auto;
  padding: 0 5% 0 10%;
}
.root:before,
.root:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.root:after {
    clear: both;
}

/***** Container Sizes *****/
.small {
  width: 60%;
}
.full {
  width: 100%;
  padding: 0 15px;
}

/***** Container Alignment *****/
.left {
  margin: 0;
  padding: 0;
}
.right {
  float: right;
  margin: 0;
  padding: 0;
}
