.root {
  
}

.nav {
  margin: 20% 0 5%;
}
.nav:before,
.nav:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.nav:after {
    clear: both;
}

.navItem {
  display: block;
  width: 50%;
  float: left;
  padding: 2% 0;
  line-height: 1.2;
  font-size: responsive 30px 60px;
  font-range: 520px 1440px;
}
