/***** Base Component *****/
.root {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 8% 0;
}

.title {
  width: 160%;
  z-index: 90;
  line-height: 1.2;
  font-size: responsive 42px 64px;
  font-range: 520px 1440px;
  margin: 0;
}
.time {
  letter-spacing: 0.1rem;
  font-size: 0.8em;
  color: var(--colorPrimary);
}
.titleAside {
  width: 40%;
  display: flex;
}
.titleWrapper {
  position: relative;
  z-index: 20;
}
.imageAside {
  width: 60%;
  display: flex;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
