html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  font-size: 18px;
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  color: var(--colorGrayDarkest);
  -webkit-font-smoothing: antialiased;
}
a {
  font-weight: 600;
  text-decoration: none;
  color: var(--colorGrayDarkest);
  display: inline-block;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, black 2px, black 2.5px, rgba(0, 0, 0, 0) 2.5px);
}
