/***** Color Variables *****/
:root {
    /* Base Colors */
    --colorGold: #C5AE87;
    --colorGoldLight: #D8CDBD;
    --colorGoldLightest: #E9DDCC;
		--colorGoldDark: #89795d;
    --colorGray: #979797;
    --colorGrayDark: #2F2F2F;
    --colorGrayLight: #e7e7e7;
    --colorGrayLightest: #FAFAFA;

    /* Named Colors */
    --colorPrimary: var(--colorGold);
    --colorSecondary: var(--colorGold);
    --colorTertiary: var(--colorGold);

    /* Background Colors */
    --colorBackground: white;

    /* Font Colors */
    --colorFont: var(--colorGray);
    --colorFontHeading: var(--colorGrayDark);

    /* Link Colors */
    --colorLink: var(--colorGold);
}

/***** Spacing Variables *****/
:root {
    /* Base Spacing */
    --spacingSmall: 15px;
    --spacingMedium: 30px;
    --spacingLarge: 60px;
		--spacingHuge: 120px;
}

/***** Typography Variables *****/
:root {
  --fontSansSerif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --fontSerif:     Georgia, Times, "Times New Roman", serif;
}
