/***** Button Variables *****/
:root {
    --buttonFontSize: 15px;
    --buttonBorderRadius: 4px;
    --buttonPadding: 1.5em;
    --buttonPaddingSmallest: 0.5em;
    --buttonPaddingSmall: 1em;
    --buttonPaddingLarge: 2em;
    --buttonPaddingHuge: 3em;
}

/***** Button Base Component *****/
.root {
  /* Reset default browser styles */
  -webkit-font-smoothing: antialiased;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  border: none;
  margin: 0;
  padding: 0;
  background-image: none;
  text-decoration: none;
  position: relative;

  /* Base Styles */
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: var(--colorGray);
  background-color: var(--colorGrayLightest);
  border: 1px solid var(--colorGrayLightest);

  /* Base Dimentions */
  padding: 0 var(--buttonPadding);
  font-size: var(--buttonFontSize);
  line-height: calc(var(--buttonPadding) * 2 + 1px);

/* Hover styles */
  &:hover {
      transition: background-color 0.2s ease,
                  color 0.2s ease,
                  border 0.2s ease;
      background-color: color(var(--colorGrayLightest) w(- 20%));
  }
}

/***** Button Context *****/
.primary {
  background-color: var(--colorPrimary);
  border-color: var(--colorPrimary);
  color: white;
  &:hover {
      color: white;
      background-color: color(var(--colorPrimary) lightness(-10%));
      border-color: color(var(--colorPrimary) lightness(-10%));
  }

  &.link {
     color: var(--colorPrimary);
     &:hover {
         color: color(var(--colorPrimary) lightness(-20%));
     }
  }

  &.outline {
     color: var(--colorPrimary);
     &:hover {
       color: white;
     }
  }
}
.secondary {
  background-color: var(--colorSecondary);
  border-color: var(--colorSecondary);
  color: white;
  &:hover {
      color: white;
      background-color: color(var(--colorSecondary) lightness(-10%));
      border-color: color(var(--colorSecondary) lightness(-10%));
  }

  &.link {
     color: var(--colorSecondary);
     &:hover {
         color: color(var(--colorSecondary) lightness(-20%));
     }
  }
}
.tertiary {
  background-color: var(--colorTertiary);
  border-color: var(--colorTertiary);
  color: white;
  &:hover {
      color: white;
      background-color: color(var(--colorTertiary) lightness(-10%));
      border-color: color(var(--colorTertiary) lightness(-10%));
  }

  &.link {
     color: var(--colorTertiary);
     &:hover {
         color: color(var(--colorTertiary) lightness(-20%));
     }
  }
}
.positive {
  background-color: var(--colorPositive);
  border-color: var(--colorPositive);
  color: white;
  &:hover {
      color: white;
      background-color: color(var(--colorPositive) lightness(-10%));
      border-color: color(var(--colorPositive) lightness(-10%));
  }

  &.link {
     color: var(--colorPositive);
  }
}
.negative {
  background-color: var(--colorNegative);
  border-color: var(--colorNegative);

  &.link {
     color: var(--colorNegative);
  }
}

/***** Button Varients *****/
.outline {
  background-color: transparent;
}
.link {
  text-transform: none;
  background-color: transparent;
  color: var(--colorGray);
  border: 0;

  &:hover {
      background-color: transparent;
      color: color(var(--colorGray) lightness(-20%));
  }
}

.app {
  background-color: black;
  padding: 0;
  line-height: auto;
  border-color: black;
  height: 48px;
  padding: 6px 10px 6px 10px;
  color: white;

  &:hover {
    background-color: color(black lightness(20%));
    color: white;
  }

  .text, .store {
    letter-spacing: 0.08em;
    font-size: 11px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
  }
  .store {
    display: block;
    margin-left: 36px;
    margin-top: -36px;
    font-size: 19px;
    letter-spacing: -0.03em;
  }
  .icon svg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 2px;
  }
}

/***** Button Styles *****/
.hard {
    border-radius: 0;
}
.soft {
    border-radius: 100%;
}

/***** Button Sizes *****/
.natural {

}
.small {

}
.large {
    padding: 0 var(--buttonPaddingLarge);
    line-height: calc(var(--buttonPaddingLarge) * 2 + 1px);

}
.huge {

}
