/***** Section Base Component *****/
.root {
  width: 100%;
}

/***** Section Context *****/
.primary {
    background-color: var(--colorPrimary);
    color: white;

    h1, h2, h3 {
      color: white;
    }
}
.secondary {
    background-color: var(--colorSecondary);
    color: white;

    h1, h2, h3 {
      color: white;
    }
}
.tertiary {
    background-color: var(--colorGrayLightest);
}
.grayDark {
	background-color: var(--colorGrayDark);
	color: white;

	h1, h2, h3 {
		color: white;
	}
}


/***** Section Sizes *****/
.small {
	padding-top: var(--spacingSmall);
	padding-bottom: var(--spacingSmall);
}
.medium {
  padding-top: var(--spacingSmall);
	padding-bottom: var(--spacingSmall);

  @media only screen and (min-width: 600px) {
  	padding-top: var(--spacingMedium);
  	padding-bottom: var(--spacingMedium);
  }
}

.large {
  padding-top: var(--spacingMedium);
	padding-bottom: var(--spacingMedium);

  @media only screen and (min-width: 600px) {
  	padding-top: var(--spacingLarge);
  	padding-bottom: var(--spacingLarge);
  }
}
.huge {
  padding-top: var(--spacingLarge);
	padding-bottom: var(--spacingLarge);

  @media only screen and (min-width: 600px) {
  	padding-top: var(--spacingHuge);
  	padding-bottom: var(--spacingHuge);
  }
}
