/***** Button Base Component *****/
.root {
    position: relative;
}

/***** Hero Sizes *****/
.large {
  min-height: 640px;
}
.huge {
    min-height: 780px;
}
.full {
    height: 90vh;
}
.primary {
    background-color: #eb3552;
}

/***** Hero Varients *****/
.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero h1 {
  font-size: 5em;
}
